icalendar/icalendar.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      <!-- Components -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Properties -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Parameters -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Value Data Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
 
      <!-- Calendar User Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Free/Busy Time Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element> 
      
      <!-- Participation Statuses -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element> 
      
      <!-- Relationship Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>

      <!-- Participation Roles -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Actions -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Classifications -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Methods -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- REQUEST-STATUS Values -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>

      <!-- Schedule Agent Values Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Schedule Force Send Values Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Display Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Feature Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
	  
      <!-- Participant Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
	  
      <!-- Resource Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>
	  
      <!-- Proximity Values -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="refs"><ref name="text_with_references"/></element>
          </element>
        </zeroOrMore>
      </element>

      <ref name="people"/>
    </element>
  </start>

</grammar>
