cose-suit-algorithm-profiles/cose-suit-algorithm-profiles.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    

    <element name="registry">
      <ref name="registryMeta"/>

      <!-- COSE SUIT Algorithm Profiles -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><text/></element>
            <element name="status"><ref name="richText"/></element>
            <element name="digest"><ref name="richText"/></element>
            <element name="auth"><ref name="richText"/></element>
            <element name="key"><ref name="richText"/></element>
            <element name="encryption"><ref name="richText"/></element>
            <element name="descriptor"><ref name="richText"/></element>
            <element name="reference"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <ref name="people"/>
    </element>
  </start>

</grammar>
