openpgp/openpgp.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <define name="VDR">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <element name="description"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
<!--  OpenPGP String-to-Key (S2K) Types -->

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <element name="size"><text/></element>
            <element name="generate"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

<!--  OpenPGP Packet Types -->

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="critical"><text/></element>
            <element name="description"><text/></element>
            <element name="shorthand"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- OpenPGP User Attribute Subpacket Types -->
      <ref name="VDR"/>

      <!-- OpenPGP Image Attribute Encoding Format -->
      <ref name="VDR"/>

      <!-- OpenPGP Signature Subpacket Types -->
      <ref name="VDR"/>

<!-- OpenPGP Key Server Preference Flags -->

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <element name="definition"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

<!-- OpenPGP Reason for Revocation Code-->

      <ref name="VDR"/>

<!-- OpenPGP Features Flags --> 

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

<!-- New Packet Versions -->

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          </element>
        </zeroOrMore>
      </element>

<!-- OpenPGP Key Flags -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

<!-- OpenPGP Public Key Algorithms -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <element name="description"><ref name="richText"/></element>
          <element name="public"><ref name="richText"/></element>
          <element name="secret"><ref name="richText"/></element>
          <element name="signature"><ref name="richText"/></element>
          <element name="pkesk"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

<!-- OpenPGP Symmetric Key Algorithms -->

      <ref name="VDR"/>

<!-- OpenPGP Hash Algorithms-->

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <element name="name"><ref name="richText"/></element>
            <element name="salt"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- OpenPGP Secret Key Encryption (S2K Usage Octet) -->

      <ref name="VDR"/>


<!-- OpenPGP Secret Key Encryption (S2K Usage Octet) -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="richText"/></element>
          <element name="description"><ref name="richText"/></element>
          <element name="encparam"><ref name="richText"/></element>
          <element name="enc"><ref name="richText"/></element>
          <element name="generate"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Signature Types -->

    <ref name="VDR"/>

    <!-- OpenPGP Signature Notation Data Subpacket Notation Flags -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="richText"/></element>
          <element name="shorthand"><ref name="richText"/></element>
          <element name="description"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Signature Notation Data Subpacket Types -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="richText"/></element>
          <element name="shorthand"><ref name="richText"/></element>
          <element name="description"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Key ID and Fingerprint -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <element name="description"><ref name="richText"/></element>
          <element name="length"><text/></element>
          <element name="id"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Image Attribute Version -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Armor Header Line -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Armor Header Key -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP ECC Curve OID and Usage -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="len"><text/></element>
          <element name="octets"><text/></element>
          <element name="description"><text/></element>
          <element name="usage"><text/></element>
          <element name="fsize"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP ECC Curve-specific Wire Formats -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="point"><text/></element>
          <element name="ecdhkey"><ref name="richText"/></element>
          <element name="eddsakey"><text/></element>
          <element name="eddsasigfirst"><text/></element>
          <element name="eddsasigsec"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Hash Algorithm Identifiers for RSA Signatures use of EMSA-PKCS1-v1_5 Padding -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="oid"><text/></element>
          <element name="prefix"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP AEAD Algorithms -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <element name="description"><text/></element>
          <element name="nonce"><text/></element>
          <element name="auth"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Encrypted Message Packet Versions -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="encrypted"><ref name="richText"/></element>
          <element name="symmetric"><ref name="richText"/></element>
          <element name="public"><ref name="richText"/></element>
          <element name="generate"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Key and Signature Versions -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="signing"><ref name="richText"/></element>
          <element name="sig"><ref name="richText"/></element>
          <element name="ops"><ref name="richText"/></element>
          <element name="generate"><ref name="richText"/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Elliptic Curve Point Wire Formats -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP Elliptic Curve Scalar Encodings -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>

    <!-- OpenPGP ECDH KDF and KEK Parameters -->

    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="hash"><text/></element>
          <element name="symmetric"><text/></element>
          <ref name="references"/>
        </element>
      </zeroOrMore>
    </element>


      <ref name="people"/>
    </element>
  </start>

</grammar>
