trill-parameters/trill-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <!--  TRILL Nicknames  -->

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="code"><ref name="genericRange"/></element>
            <element name="profile"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  TRILL Multicast Addresses  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="code"><text/></element>
            <element name="algorithm"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  Header Flags  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="bits"><ref name="genericRange"/></element>
            <element name="purpose"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  RBridge Channel Protocols - Rules  -->
      
      
      
      <!--  RBridge Channel Protocols  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="name"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  Extended RBridge Channel Payload Types  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  Extended RBridge Channel Security Types  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="text_with_references"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  RBridge Channel Header Flags  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="bit"><ref name="genericRange"/></element>
            <element name="mnemonic"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  RBridge Channel Error Codes  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        
              <!--  RBridge Channel SubError Codes  -->
              
              <element name="registry">
                <ref name="registryMeta"/>
                <zeroOrMore>
                  <element name="record">
                    <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
                    <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
                    <element name="value"><ref name="genericRange"/></element>
                    <element name="subvalue"><text/></element>
                    <element name="description"><text/></element>
                    <ref name="references"/>
                  </element>
                </zeroOrMore>
              </element>
        
      </element>
      
     <!--  TRILL-VER Sub-TLV Capability Flags  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

     <!--  PORT-TRILL-VER Sub-TLV Capability Flags  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

     <!--  TRILL Neighbor TLV NEIGHBOR RECORD Flags  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

     <!--  Interested VLANs Flag Bits  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

     <!--  Interested Labels Flag Bits  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

     <!--  TRILL APPsub-TLV Types under IS-IS TLV #251 App Id #1 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <!-- no closing </element> tag until after sub-registries -->
      
      <!-- sub-registries for TRILL APPsub-TLV Types under IS-IS TLV #251 App Id #1: -->
      
        <!--  ESADI-Parameter APPsub-TLV Flag Bits -->
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="mnemonic"><text/></element>
              <element name="description"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
        </element>
      
      <!--  NickFlags Bits -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="mnemonic"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  Interface Addresses APPsub-TLV Sub-Sub-TLVs -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  Extended RBridge Capabilities -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="mnemonic"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
    
      </element><!-- end of sub-registries for TRILL APPsub-TLV Types under IS-IS TLV #251 App Id #1 -->


<!--  TRILL OAM Return Codes -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
          </zeroOrMore>
        <!-- no closing </element> tag until after sub-registries -->

     <!-- TRILL OAM Return Code sub-registries: -->
   
     <!--  TRILL OAM Return Sub Code 0 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  TRILL OAM Return Sub Code 1 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      </element><!-- end of TRILL OAM Return Code sub-registries -->

      <!--  TRILL Pull Directory QTYPEs  -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--  TRILL Pull Directory Errors -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="level"><text/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <!-- no closing </element> tag until after sub-registries -->
        
        <!-- TRILL Pull Directory Errors sub-registries: -->
        
        <!--  Sub-codes for TRILL Pull Directory Errors 1 and 3 -->
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="description"><ref name="richText"/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
        </element>
        
        <!--  Sub-codes for TRILL Pull Directory Errors 128 and 131 -->
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="description"><ref name="richText"/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
        </element>
        
      </element><!-- end of TRILL Pull Directory Errors sub-registries -->

      <ref name="people"/>
    </element>
  </start>

</grammar>
