tls-parameters/tls-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">
  
  <include href="../_support/iana-registry.rng"/>
  
<!-- Types of registries -->

<!-- Value (numeric)/Description/DLTS/Reference/Comment (no Rec) -->

  <define name="val-des-dtls-com">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <element name="description"><ref name="richText"/></element>
          <optional><element name="dtls"><text/></element></optional>
          <ref name="references"/>
          <optional><element name="comment"><ref name="richText"/></element></optional>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>

    <!-- Value (numeric)/Description/Recommended/Reference/Comment (no DTLS) -->
  
  <define name="val-des-rec-com">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><text/></element>
          <optional><element name="recommended"><text/></element></optional>
          <ref name="references"/>
          <optional><element name="comment"><ref name="richText"/></element></optional>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>

<!-- Value (numeric)/Description/DLTS/Recommonded/Reference/Comment (DTLS + Rec) -->

  <define name="val-des-dtls-rec-com">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <element name="description"><ref name="richText"/></element>
          <optional><element name="dtls"><text/></element></optional>
          <optional><element name="rec"><text/></element></optional>
          <ref name="references"/>
          <optional><element name="comment"><ref name="richText"/></element></optional>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>

  <!-- Value (NOT a numeric range)/Description/DLTS/Recommonded/Reference/Comment (DTLS + Rec) -->

  <define name="textval-des-dtls-rec-com">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><ref name="richText"/></element>
          <optional><element name="dtls"><text/></element></optional>
          <optional><element name="rec"><text/></element></optional>
          <ref name="references"/>
          <optional><element name="comment"><ref name="richText"/></element></optional>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>

  <!-- Value (numeric)/Description/Reference/Comment -->

  <define name="val-des-com">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><ref name="genericRange"/></element>
          <element name="description"><ref name="richText"/></element>
          <optional><element name="dtls"><text/></element></optional>
          <optional><element name="rec"><text/></element></optional>
          <ref name="references"/>
          <optional><element name="comment"><ref name="richText"/></element></optional>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>

  <!-- Value (NOT numeric)/Description/Reference/Comment -->

  <define name="textval-des-com">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="value"><text/></element>
          <element name="description"><ref name="richText"/></element>
          <optional><element name="dtls"><text/></element></optional>
          <optional><element name="rec"><text/></element></optional>
          <ref name="references"/>
          <optional><element name="comment"><ref name="richText"/></element></optional>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>

  <!-- this is for TLS Exporter Labels - no value, only description -->
  
  <define name="exporter">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="description"><text/></element>
          <optional><element name="dtls"><text/></element></optional>
          <optional><element name="rec"><text/></element></optional>
          <ref name="references"/>
          <optional><element name="note"><ref name="richText"/></element></optional>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>
  
  <!-- Registries -->

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      <ref name="val-des-dtls-rec-com"/> <!-- ClientCertificateType Identifiers -->
      <ref name="textval-des-dtls-rec-com"/> <!-- Cipher Suites -->
      <ref name="val-des-dtls-com"/> <!-- ContentType -->
      <ref name="val-des-dtls-com"/> <!-- Alerts -->
      <ref name="val-des-dtls-com"/> <!-- HandshakeType -->
      <ref name="val-des-dtls-rec-com"/> <!-- Supported Groups -->
      <ref name="val-des-dtls-com"/> <!-- EC Point Formats -->
      <ref name="val-des-dtls-com"/> <!-- EC Curve Types -->
      <ref name="val-des-dtls-com"/> <!-- Supplemental Data Formats (SupplementalDataType) -->
      <ref name="val-des-dtls-com"/> <!-- UserMappingType Values --> 
      <ref name="val-des-dtls-rec-com"/> <!-- SignatureAlgorithm -->
      <ref name="val-des-dtls-rec-com"/> <!-- HashAlgorithm -->
      <ref name="exporter"/> <!-- Exporter Labels -->
      <ref name="val-des-dtls-com"/> <!-- Authorization Data Formats -->
      <ref name="val-des-dtls-com"/> <!-- Heartbeat Message Types -->
      <ref name="val-des-dtls-com"/>  <!-- Heartbeat Modes -->
      <ref name="val-des-rec-com"/> <!-- SignatureScheme -->
      <ref name="val-des-rec-com"/> <!-- PskKeyExchangeMode -->
      <ref name="val-des-com"/> <!-- KDF Identifiers -->
      <ref name="textval-des-com"/> <!-- SSLKEYLOGFILE Label -->
      <ref name="val-des-dtls-rec-com"/> <!-- RRC Message Types -->

      <ref name="people"/>
    </element>
  </start>
  
</grammar>