sctp-parameters/sctp-parameters.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <element name="registry">
        <ref name="registryMeta"/>
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
                <attribute name="updated"><ref name="genericDate"/></attribute>
              </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional>
                <attribute name="date"><ref name="genericDate"/></attribute>
              </optional>
              <optional>
                <attribute name="updated"><ref name="genericDate"/></attribute>
              </optional>
              <element name="value"><ref name="genericRange"/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>
      </element>
      
      <!--Error Cause Codes-->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!--SCTP PPIDs-->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
            <optional>
              <element name="date"><text/></element>
            </optional>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!--HMAC IDs-->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!--Adaptation Code Points-->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      <ref name="people"/>
    </element>
  </start>
</grammar>

