pvds/pvds.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <element name="type"><ref name="text_with_references"/></element>
            <element name="example"><ref name="richText"/></element>
            <ref name="references"/>
            <optional>
              <element name="reviewed"><ref name="genericDate"/></element>
            </optional>
          </element>
        </zeroOrMore>
      </element>

      <!-- PvD Option Flags  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- PvD Split DNS Claims  -->
      <element name="registry">
        <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="value"><text/></element>
              <element name="description"><text/></element>
              <element name="type"><ref name="text_with_references"/></element>
              <element name="example"><ref name="richText"/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
        </element>

      <!-- Proxy Information PvD Keys -->
      <element name="registry">
        <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="value"><text/></element>
              <element name="req"><text/></element>
              <element name="description"><text/></element>
              <element name="type"><ref name="text_with_references"/></element>
              <element name="example"><ref name="richText"/></element>
              <element name="reference"><ref name="richText"/></element>
            </element>
          </zeroOrMore>
        </element>

      <!--Proxy Protocol PvD Values -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><text/></element>
            <element name="format"><text/></element>
            <element name="reference"><ref name="richText"/></element>
            <element name="notes"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Proxy Destination Rule PvD Keys -->
      <element name="registry">
        <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="value"><text/></element>
              <element name="req"><text/></element>
              <element name="description"><text/></element>
              <element name="type"><ref name="text_with_references"/></element>
              <element name="example"><ref name="richText"/></element>
              <element name="reference"><ref name="richText"/></element>
            </element>
          </zeroOrMore>
        </element>


      <ref name="people"/>
    </element>
  </start>

</grammar>
