mpls-lsp-ping-parameters/mpls-lsp-ping-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      <!-- Message Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Reply Modes -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Return Codes -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="text_with_references"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- TLVs -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <optional><element name="name"><text/></element></optional>
            <ref name="references"/>
            <element name="subtlv"><ref name="richText"/></element>
          </element>
         </zeroOrMore>
        <ref name="footnotes"/>
          
          <!-- Sub-TLV for 1, 16, 21 -->
          
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
            <element name="comment"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
         <ref name="footnotes"/>
      </element>
 
        <!-- Sub-TLV for 6 -->
        
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="type"><text/></element>
              <element name="name"><text/></element>
              <ref name="references"/>
              <element name="comment"><ref name="richText"/></element>
            </element>
          </zeroOrMore>
          <ref name="footnotes"/>
        </element>         
          
       <!-- Sub-TLV for 9 -->
          
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><text/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
            <element name="comment"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
         <ref name="footnotes"/>
      </element>  
          
        <!-- Sub-TLV for 11 -->
          
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
            <element name="comment"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
         <ref name="footnotes"/>
      </element>
          
        <!-- Sub-TLV for 20 -->
          
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
            <element name="comment"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
         <ref name="footnotes"/>
      </element>
        
        <!-- Sub-TLV for 23 -->
          
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
            <element name="comment"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
         <ref name="footnotes"/>
      </element>
        
        <!-- Sub-TLV for 27 -->
          
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
            <element name="comment"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
         <ref name="footnotes"/>
      </element>
         
      </element>
      
      
      <!--Measurement Timestamp Type registry (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
      <!--MPLS Loss/Delay Measurement Control Code - Query (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
      <!--MPLS Loss/Delay Measurement Control Code - Response (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
      <!--MPLS Loss/Delay Measurement TLV Object (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
      
      <!--Global Flags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!--Downstream Mapping -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <element name="size"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!--Next Hop Address Type -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <element name="addr"><text/></element>
            <element name="if"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!--Reply Path Return Codes -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- DS Flags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Multipath Type -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Pad Type -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Interface and Label Stack Type -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Proxy Flags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- MPLS OAM Function Flags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/>
            </element><element name="flag"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Protocol in the Segment ID sub-TLV -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
            <optional>
              <element name="notes"><ref name="richText"/></element>
            </optional>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Adjacency Type in the IGP-Adjacency Segment ID -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Protocol in Label Stack Sub-TLV of Downstream Detailed Mapping TLV -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
            <optional>
              <element name="notes"><ref name="richText"/></element>
            </optional>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- LSR Capability Flags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Interface Index Flags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
    
      <ref name="people"/>
      <ref name="footnotes"/>
    </element>
  </start>

</grammar>
