icmpv6-parameters/icmpv6-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <define name="code_registry">
    <element name="registry">
      
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional>
            <attribute name="date"><ref name="genericDate"/></attribute>
          </optional>
          <element name="value"><ref name="genericRange"/></element>
          <optional>
            <element name="name"><ref name="richText"/></element>
          </optional>
          <ref name="references"/>
        </element>
      </zeroOrMore>
      <ref name="footnotes"/>
    </element>
  </define>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>

      <!-- ICMPv6 "type" Numbers -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- ICMPv6 "Code" Fields -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
            <ref name="code_registry"/>
        </zeroOrMore>
      </element>

      <!-- FMIPv6 Message Types (Value 154) -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- IPv6 Neighbor Discovery Option Formats -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="text_with_references"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Trust Anchor option (Type 15) Name Type field  -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Certificate option  (Type 16) Cert Type field  -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Option-Code for Handover Assist Information Option (Type 29)  -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Option-Code for Mobile Node Identifier Option (Type 30)  -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Qtypes  -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- IPv6 ND Router Advertisement flags  -->
       <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Address Registration Option Status Values  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- 6LoWPAN Capability Bits -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- IPv6 Neighbor Discovery Prefix Information Option Flags  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Address Registration Option Flags  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Address Registration Option I-Field  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- PvD Option Flags  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Crypto-Types  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <element name="elliptic"><ref name="richText"/></element>
            <element name="hash"><ref name="richText"/></element>
            <element name="signature"><ref name="richText"/></element>
            <element name="rep_conv"><ref name="richText"/></element>
            <element name="public_key_size"><ref name="richText"/></element>
            <element name="signature_size"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <ref name="people"/>
    </element>
  </start>

</grammar>
