xml-registry/schema/geopriv/held/policy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="urn:ietf:params:xml:ns:geopriv:held:policy"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:hp="urn:ietf:params:xml:ns:geopriv:held:policy"
  elementFormDefault="qualified" attributeFormDefault="unqualified">
  
  <xs:element name="requestPolicyUri">
    <xs:complexType name="empty"/>
  </xs:element>
  
  <xs:element name="policyUri" type="xs:anyURI"/>
  
</xs:schema>