sigtran-adapt/sigtran-adapt.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>

      <!-- Message Classes -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Management (MGMT) Message (Value 0)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Transfer Messages (Value 1)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - SS7 Signalling Network Management (SSNM) Messages (Value 2)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - ASP State Maintenance (ASPSM) Messages (Value 3)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - ASP Traffic Maintenance (ASPTM) Messages (Value 4)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Q.921/Q.931 Boundary Primitives Transport (QPTM) Messages (Value 5)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - MTP2 User Adaptation (MAUP) Messages (Value 6)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Connectionless Messages (Value 7)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Connection-Oriented Messages (Value 8)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Routing Key Management (RKM) Messages (Value 9)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Interface Identifier Management (IIM) Messages (Value 10)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - M2PA Messages (Value 11)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - Security Messages (Value 12)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - DPNSS/DASS2 Boundary Primitives Transport Messages (Value 13)   -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Types - V5 Boundary Primitives Transport (V5PTM) Messages (Value 14)  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <!-- Message Parameters  -->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <!-- Value -->
            <element name="value"><ref name="genericRange"/></element>
            <!-- Description -->
            <element name="description"><text/></element>
            <!-- Reference -->
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>

      <ref name="people"/>
    </element>
  </start>
</grammar>
