isis-tlv-codepoints/isis-tlv-codepoints.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <optional><element name="IIH"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="LSP"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="SNP"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="purge"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="status"><ref name="text_with_references"/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- TLV 10 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="authentication_type_code"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- TLV 16 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- TLV 22, 23, 25, 141, 222, and 223 (Advertising Neighbor Information) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><element name="TLV_22"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_23"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_25"><text/></element></optional>
            <optional><element name="TLV_141"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_222"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_223"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- sub-TLV 19 of 22 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
			<optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- TLV 27, 135, 235, 236, 237 (Advertising Prefix Reachability) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><element name="TLV_27"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_135"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_235"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_236"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="TLV_237"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>   
 
     <!-- Bit Values for Prefix Attribute Flags sub-TLV -->
 
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
 
      <!-- TLV 142 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
 
      
      <!-- TLV 143 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- TLV 144 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      

      <!-- TLV 242 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>

      <!-- TLV 242, Sub-TLV 25 (Sub-Sub-TLVs for SRv6 Capability Sub-TLV) -->

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>

      <!-- TLV 242, Sub-TLV 25 (IS-IS SRv6 Capabilities Sub-TLV Flags) -->
            
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
            <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
            <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>

      <!-- TLV 251 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <element name="allowed"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Bier info -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
	  
	  <!-- TLV 149, 150 -->
	  
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
      
	  <!-- application specific link attributes -->
	  
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>
	  
      <!-- TLV 238 -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>

      <!-- Sub-Sub-TLVs for SID Sub-TLVs (5 in 27, 43-44 in advertising neighboring) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><element name="sub-tlv-5"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="sub-tlv-43"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><element name="sub-tlv-44"><data type="string"><param name="pattern">[yn]</param></data></element></optional>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element> 

      <!-- IS-IS SRv6 Locator TLV Flags (TLV 27)-->
            
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
            <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
            <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>

      <!-- IS-IS SRv6 End SID Sub-TLV Flags (5 in 27) -->
                  
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
            <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
            <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>

      <!-- IS-IS SRv6 Adjacency SID Sub-TLVs Flags -->
                  
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
            <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
            <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <optional><ref name="references"/></optional>
          </element>
        </zeroOrMore>
      </element>

      <ref name="people"/>
    </element>
  </start>

</grammar>
