ipv6-multicast-addresses/ipv6-multicast-addresses.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <!--
  This regular expression matches an IPv6 address, an IPv6 network in CIDR
  notation, or an IPv6 address range. It also accepts 'X' as a wildcard
  character. IPv4-mapped addresses are rejected. Letters need to be capitalized.
  
  Relax NG does not allow whitespace in regular expressions. A tool
  such as KRegExpEditor is useful in this case.
  -->
  <define name="ipv6_address_range">
    <data type="string">
      <param name="pattern">(([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){7}[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,7}:|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,7}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,1}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,6}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,2}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,5}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,3}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,4}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,4}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,3}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,5}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,2}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,6}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,1}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,7}|:(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,7}|::)(/([0-9]{2}|1[01][0-9]|12[0-8])|-(([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){7}[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,7}:|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,7}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,1}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,6}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,2}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,5}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,3}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,4}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,4}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,3}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,5}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,2}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,6}|([0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?:){1,1}(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,7}|:(:[0-9A-FX][0-9A-FX]?[0-9A-FX]?[0-9A-FX]?){1,7}|::))?</param>
    </data>
  </define>

  <define name="ipv6_multicast_registry">
    <element name="registry">
      <ref name="registryMeta"/>
      <zeroOrMore>
        <element name="record">
          <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
          <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
          <element name="addr"><ref name="ipv6_address_range"/></element>
          <element name="description"><text/></element>
          <ref name="references"/>
          <optional>
            <element name="controller">
              <ref name="richText"/>
            </element>
          </optional>
          <optional>
            <element name="reviewed">
              <ref name="genericDate"/>
            </element>
          </optional>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
<define name="scope">
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
</define>

  <start>
    
    <element name="registry">
      <ref name="registryMeta"/>
      <ref name="scope"/>
      <ref name="ipv6_multicast_registry"/>
      <ref name="ipv6_multicast_registry"/>
      <ref name="ipv6_multicast_registry"/>
      <ref name="ipv6_multicast_registry"/>
      <ref name="ipv6_multicast_registry"/>
      <ref name="people"/>
    </element>
  </start>

</grammar>
