rtp-parameters/rtp-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <optional>
               <element name="av"><text/></element>
            </optional>
            <optional>
               <element name="clock_rate"><text/></element>
            </optional>
            <optional>
               <element name="channels"><text/></element>
            </optional>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="type"><text/></element>
            <element name="subtype"><text/></element>
            <optional>
               <element name="clock_rate"><text/></element>
            </optional>
            <optional>
               <element name="channels"><text/></element>
            </optional>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional>
               <element name="abbrev"><text/></element>
            </optional>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional>
               <element name="abbrev"><text/></element>
            </optional>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional>
               <element name="name"><text/></element>
            </optional>
            <element name="long_name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional>
               <element name="name"><text/></element>
            </optional>
            <element name="long_name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- RTP Compact Header Extensions -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="name"><text/></element>
            <element name="description"><text/></element>
            <optional>
               <element name="contact"><ref name="text_with_references"/></element>
            </optional>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- RTP SDES Compact Header Extensions -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="name"><text/></element>
            <element name="description"><text/></element>
            <optional>
              <element name="contact"><ref name="text_with_references"/></element>
            </optional>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- Sub-Report Block Type (SRBT) Values for the RSI Packet -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <element name="long_name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- SFMT Values for RAMS Messages -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- RAMS TLV Space Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="name"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
  
  <!-- RAMS Response Code Space Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <!-- EKT Message Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
 
      <!-- EKT Ciphers -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
        <ref name="footnotes"/>
      </element>
      
      <ref name="people"/>
    </element>
  </start>
</grammar>
