gmpls-sig-parameters/gmpls-sig-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      <!--gmpls-sig-parameters-1-->
      
      
      <!--gmpls-sig-parameters-2-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--gmpls-sig-parameters-3-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--gmpls-sig-parameters-4-->
      
      
      <!--gmpls-sig-parameters-5-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <optional><element name="technology"><text/></element></optional>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      <element name="registry">
        
        <!--gmpls-sig-parameters-6-->
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--gmpls-sig-parameters-7-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <choice>
              <group>
                <element name="type"><ref name="genericRange"/></element>
                <optional>
                  <element name="length">
                    <data type="string"><param name="pattern">[0-9]*|varies|x</param></data>
                  </element>
                  <element name="format"><text/></element>
                  <element name="description"><text/></element>
                  <ref name="references"/>
                </optional>
              </group>
              <group>
                <element name="type"><ref name="genericRange"/></element>
                <element name="description">
                  <data type="string"><param name="pattern">Unassigned</param></data>
                </element>
              </group>
            </choice>
          </element>
        </zeroOrMore>
      </element>
      
      <!--gmpls-sig-parameters-8-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <choice>
              <group>
                <element name="bit_number"><ref name="genericRange"/></element>
                <element name="value">
                  <data type="string">
                    <param name="pattern">0x[0-9]{8}</param>
                  </data>
                </element>
                <element name="name"><text/></element>
                <ref name="references"/>
              </group>
              <group>
                <element name="bit_number"><ref name="genericRange"/></element>
                <element name="name">
                  <data type="string"><param name="pattern">Unassigned</param></data>
                </element>
              </group>
            </choice>
            <optional>
              <ref name="references"/>
            </optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!--gmpls-sig-parameters-9-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--granularities-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--sender-tspec-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--bandwidth-profiles-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="hex"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--hierarchy-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="hex"><text/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!--grid-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!--DWDM channel spacing-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--CWDM channel spacing-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!--OTN signal type-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="type"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--Generalized SCSI (Switching Capability Specific Information) TLVs Types-->
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <element name="switching"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>


      <ref name="people"/>
    </element>
  </start>

</grammar>
