ssh-parameters/ssh-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
	    <element name="value"><ref name="genericRange"/></element>
	    <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
	    <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
	    <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
	    <element name="value"><ref name="genericRange"/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
	    <element name="value"><ref name="genericRange"/></element>
            <element name="argument"><text/></element>
	    <optional><element name="description"><text/></element></optional>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Public Key Algorithm Names -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <element name="format"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Compression Algorithm Names -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- SSH Public-Key File Header Tags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Publickey Subsystem Request Names -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Publickey Subsystem Response Names -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Publickey Subsystem Attributes -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Publickey Subsystem Status Codes -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
	    <element name="value"><ref name="genericRange"/></element>
            <element name="status"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Extension Names -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
              <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <ref name="references"/>
            <optional><element name="note"><text/></element></optional>
          </element>
        </zeroOrMore>
      </element>
      <ref name="people"/>
    </element>
  </start>

</grammar>
