jscontact/jscontact.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      <!-- JSContact Version -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="major"><text/></element>
            <element name="minor"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- JSContact Properties -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="name"><text/></element>
            <element name="type"><text/></element>
            <element name="context"><text/></element>
            <element name="usage"><text/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- JSContact Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><text/></element>
            <element name="usage"><text/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- JSContact Enum Values -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="name"><ref name="richText"/></element>
            <element name="context"><text/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
          
       <!-- Property: contexts, Context: Address -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
          
        <!-- Property: contexts, Context: Calendar, CryptoKey, Directory, EmailAddress, LanguagePref, Link, Media, Nickname, OnlineService, Phone, Pronouns, SchedulingAddress -->
      
        <element name="registry">
          <ref name="registryMeta"/>
          <zeroOrMore>
            <element name="record">
              <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
              <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
              <element name="value"><ref name="richText"/></element>
              <element name="since"><text/></element>
              <element name="until"><text/></element>
              <element name="controller"><ref name="richText"/></element>
              <ref name="references"/>
            </element>
          </zeroOrMore>
        </element>

          <!-- Property: features, Context: Phone -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: grammaticalGender, Context: SpeakToAs -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: AddressComponent -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: Anniversary -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: Calendar -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: Card -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: Directory -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: Link -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: Media -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: NameComponent -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: PersonalInfo -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: kind, Context: Title -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: level, Context: PersonalInfo -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: relation, Context: Relation -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- Property: phoneticSystem, Context: Address, Name -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="since"><text/></element>
            <element name="until"><text/></element>
            <element name="controller"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      </element>
      
      
      <ref name="people"/>
    </element>
  </start>

</grammar>
