pwe3-parameters/pwe3-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      <!-- MPLS Pseudowire Types Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="PW_type"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Pseudowire Interface Parameters Sub-TLV type Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="parameter"><text/></element>
            <optional><element name="ID_length"><text/></element></optional>
            <element name="description"><ref name="text_with_references"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Attachment Individual Identifier Type Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="AII_type"><text/></element>
            <element name="length"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Attachment Group Identifier (AGI) Type Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="AGI_type"><text/></element>
            <element name="length"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Pseudowire Status Codes Registry -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="bit_mask"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Pseudowire Associated Channel Types (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
      <!-- Associated Channel Header TLV Registry (deleted) -->
      
      <element name="registry">
        <ref name="registryMeta"/>

      </element>
      
      <!-- Header Compression Over MPLS PW Control Word Packet Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="packet_type"><text/></element>
            <element name="description"><text/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- MPLS VCCV Control Channel (CC) Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="bit">
              <data type="nonNegativeInteger">
                <param name="minInclusive">0</param>
                <param name="maxInclusive">7</param>
              </data>
            </element>
            <element name="description"><ref name="text_with_references"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- MPLS VCCV Connectivity Verification (CV) Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="bit">
              <data type="nonNegativeInteger">
                <param name="minInclusive">0</param>
                <param name="maxInclusive">7</param>
              </data>
            </element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- Pseudowire Switching Point PE sub-TLV Type -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
             <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional><element name="length"><text/></element></optional>
            <optional><element name="description"><text/></element></optional>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- CC/CV MEP ID TLV Registry (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
      <!-- PW Generic Protocol Flags -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- L2VPN PE Stack Capabilities -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
            <!-- G-ACh Advertisement Protocol Application Registry (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
            <!-- G-ACh Advertisement Protocol TLV Registry (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
<!-- G-ACh Advertisement Protocol: Ethernet Interface Parameters (moved) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
      </element>
      
   <!-- VCCV Extended CV Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

   <!-- ICC RG Parameter Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional>
              <attribute name="date"><ref name="genericDate"/></attribute>
            </optional>
            <optional>
             <attribute name="updated"><ref name="genericDate"/></attribute>
            </optional>
            <element name="value"><text/></element>
            <element name="description"><text/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>


      <ref name="people"/>
    </element>
  </start>

</grammar>
