manet-parameters/manet-parameters.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      
      <!--Message Types-->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
    <!-- TC Message-Type-specific Message TLV Types-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- TC Message-Type-specific Address Block TLV Types-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      
      <!--Packet TLV Types-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!--Message TLV Types-->       


      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!-- INTERVAL_TIME Message Type Extensions Types-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
           
      <!-- VALIDITY_TIME Message Type Extensions Types-->    
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
 
      <!-- MPR_WILLING Message Type Extensions-->     

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- CONT_SEQ_NUM Message Type Extensions-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>


      <!--HELLO Message-Type-specific Message TLV Types-->    
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      

      <!--Address Block TLV Types-->   
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

      <!--INTERVAL_TIME Address Block TLV Type Extensions--> 

      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--VALIDITY_TIME Address Block TLV Type Extensions--> 
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--LOCAL_IF Address Block TLV Type Extensions--> 
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
     
      <!--LINK_STATUS Address Block TLV Type Extensions--> 
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--OTHER_NEIGHB Address Block TLV Type Extensions--> 
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
     <!-- LINK_METRIC Address Block TLV Type Extensions-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- MPR Address Block TLV Type Extensions-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- NBR_ADDR_TYPE Message Type Extensions-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- GATEWAY Message Type Extensions-->     
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--HELLO Message-Type-specific Address Block TLV Types-->    
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--ICV Packet TLV Types-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--TimeStamp Packet TLV Types-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--ICV Message TLV Types-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--TimeStamp Message TLV Types-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--ICV Address TLV Types-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--TimeStamp Address TLV Types-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
 
      <!--Hash Functions-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional><element name="algorithm"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--Cryptographic Algorithm-->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>            
            <optional><element name="algorithm"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
  
      <!--SMF_TYPE Message TLV Type Extensions-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>            
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--SMF_NBR_TYPE Address Block TLV Type Extensions-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
      
      <!--SMF Relay Algorithm IDs-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional><element name="name"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
  
        <!--LOCAL_IF TLV Values-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional><element name="name"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>
 
    <!--LINK_STATUS TLV Values-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional><element name="name"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

    <!--OTHER_NEIGHB TLV Values-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="genericRange"/></element>
            <optional><element name="name"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

<!--MPR TLV Bit Values-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="bit"><ref name="genericRange"/></element>
            <element name="value"><text/></element>
            <optional><element name="name"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

<!--NBR_ADDR_TYPE Address Block TLV Bit Values-->        
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <element name="bit"><ref name="genericRange"/></element>
            <element name="value"><text/></element>
            <optional><element name="name"><text/></element></optional>
            <element name="description"><ref name="richText"/></element>
            <ref name="references"/>
          </element>
        </zeroOrMore>
      </element>

    <ref name="people"/>
    </element>
    
  </start>

</grammar>
