jscalendar/jscalendar.rng

<?xml version='1.0'?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.iana.org/assignments">

  <include href="../_support/iana-registry.rng"/>

  <start>
    <element name="registry">
      <ref name="registryMeta"/>
      
      <!-- JSCalendar Properties -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><text/></element>
            <element name="name"><text/></element>
            <element name="context"><text/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="use"><text/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- JSCalendar Types -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="type"><text/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="use"><text/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>
      
      <!-- JSCalendar Enum Values -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="name"><ref name="richText"/></element>
            <element name="context"><text/></element>
            <ref name="references"/>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
          
       <!-- Property: action, Context: Alert (URL: 0) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>
          
          <!-- Property Name: display, Context: Link (URL: 1) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element> 

          <!-- Property Name: features, Context: VirtualLocation -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element> 
        </zeroOrMore>
      </element>
          
          <!-- Property Name: freeBusyStatus, Context: JSEvent, JSTask (URL: 2) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element> 
        </zeroOrMore>
      </element>
          
          <!-- Property Name: kind, Context: Participant (URL: 3) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>   
          
          <!-- Property Name: participationStatus, Context: Participant (URL: 4) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>
          
          <!-- Property Name: privacy, Context: JSEvent, JSTask (URL: 5) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>  
          
          <!-- Property Name: progress, Context: JSTask, Participant (URL: 6) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>  
          </zeroOrMore>
          </element> 
          
          <!-- Property Name: relation, Context: Relation (URL: 7) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element> 
        </zeroOrMore>
      </element> 
          
          <!-- Property Name: relativeTo, Context: OffsetTrigger, Location (URL: 8) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>  
          
          <!-- Property Name: roles, Context: Participant (URL: 9) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element> 
          
          <!-- Property Name: scheduleAgent, Context: Participant (URL: 10) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>
        </zeroOrMore>
      </element>  
          
          <!-- Property Name: status, Context: JSEvent (URL: 11) -->
      
      <element name="registry">
        <ref name="registryMeta"/>
        <zeroOrMore>
          <element name="record">
            <optional><attribute name="date"><ref name="genericDate"/></attribute></optional>
            <optional><attribute name="updated"><ref name="genericDate"/></attribute></optional>
            <element name="value"><ref name="richText"/></element>
            <element name="refs"><ref name="richText"/></element>
            <element name="controller"><ref name="richText"/></element>
          </element>  
        </zeroOrMore>
      </element>

      </element>
      
      
      <ref name="people"/>
    </element>
  </start>

</grammar>
